services:
  api:
    build: .
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
    ports:
      - "3000:3000"

  redis:
    image: redis/redis-stack:7.2.0-v10
    ports:
      - "6379:6379"
      - "8001:8001"
